@import url('https://fonts.googleapis.com/css?family=Roboto');
/* You must use a DIFFERENT FONT THAT THIS ONE as your webfont */
/*justin made me do it */

/*************************************************
            DEFAULTS
*************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: 'Spinnaker', 'Tahoma', sans-serif;
    /* change this font stack to your own choices */
    line-height: 1.5;
}

p {}

a {}

ul {}

ol {}

li {}

img {
    width: 25%;
}

/*************************************************
            HEADER
*************************************************/
header {
    padding: 1rem 2rem;
    font-size: 1.75rem;
    color: rgb(255, 163, 26);
    text-shadow: 5px 5px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
}

header > h1 {}

header > h2 {}

/*************************************************
            NAVMENU
*************************************************/
.mainnav {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(255, 163, 26);

}

nav {
    padding: 1rem 2rem;

}

nav > a,
nav > a:visited,
nav > a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;  
}
    
nav > a:active,
nav > a:focus,  
nav > a:hover {}

/*************************************************
            MAIN CONTENT
*************************************************/
main {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5rem;
}

.primary h1 {
    border-bottom: 20px solid orange;
    font-size: 3rem;
    color: rgb(255, 163, 26);
    text-shadow: 5px 5px rgb(0, 0, 0);
}

.mast h2 {
    border-bottom: 0px;
}
h2 {
    border-bottom: 10px solid orange;
    font-size: 2rem;
    color: rgb(255, 163, 26);
    text-shadow: 3px 3px rgb(0, 0, 0);    
}

section {}

section p {}

section p img {
    float: right;
}

/*************************************************
            FOOTER
*************************************************/
footer {
    padding: 1rem 2rem;
}

.foot nav {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgb(250, 163, 26);

}

.foot section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.foot dl {}

.foot dt {}

.foot dd {}

.foot dd a,
.foot dd a:visited {
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.foot dd a:active,
.foot dd a:focus,
.foot dd a:hover {}

/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px) {
    header {
        background-image: url("/img/header01a.jpg");
    }
}

@media (min-width: 600px) and (max-width:999px) {
    header {

        background-image: url("/img/header01b.jpg");
    }

}

@media (min-width: 1000px) {
    header {
        background-image: url("/img/header01c.jpg");
    }
}
